<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21540573905-e3ho42lg2jqepavjjtq656hmh2qqh9t9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21540573905-e3ho42lg2jqepavjjtq656hmh2qqh9t9</string>
	<key>API_KEY</key>
	<string>AIzaSyBbd1vTrEyXYPre2oq2Akfiw8FbTXybE3s</string>
	<key>GCM_SENDER_ID</key>
	<string>21540573905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rogo.ios</string>
	<key>PROJECT_ID</key>
	<string>rogo-6f46a</string>
	<key>STORAGE_BUCKET</key>
	<string>rogo-6f46a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21540573905:ios:fe5fe195e443c90c50abf0</string>
</dict>
</plist>